@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo</h1>
    <p>Faça aqui o cadastro de alunos</p>
    <div class="row">
    <a class ="btn btn-success btn-lg btn-block" href="ControladorAlunos/Create" role="button">Cadastrar um novo aluno</a><p></p>
    <a class="btn btn-dark btn-lg btn-block" href="ControladorAlunos" role="button">Listar alunos cadastrados</a>
    </div>
</div>
